apiVersion: v1
kind: Service
metadata:
  name: secrets-drift-dashboard
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: secrets-drift-dashboard
